@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CeraProLight';
  src: url('../../public/fonts/CeraProLight.otf');
}

@font-face {
  font-family: 'CeraProMedium';
  src: url('../../public/fonts/CeraProMedium.otf');
}

@font-face {
  font-family: 'CeraProBold';
  src: url('../../public/fonts/CeraProBold.otf');
}

@layer base {
  html {
    font-family: ceraProMedium;
    max-width: 100%;
    overflow-x: hidden;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  background-color: white;
}